---
permalink: /feed.atom
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link href="{{ metadata.url }}/feed.atom" rel="self"/>
  <link href="{{ metadata.url }}/"/>
  <updated>{{ (collections.articles | newestFirst | first).date.toJSDate() | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}/</id>
  <author>
    <name>Peter Byfield</name>
  </author>
  <rights>All rights reserved</rights>
  {%- for article in collections.articles | newestFirst %}
  {%- if loop.index0 < 20 %}
  <entry>
    <title>{{ article.title | escape }}</title>
    <link href="{{ metadata.url }}/articles/{{ article.slug }}/"/>
    <updated>{{ article.date.toJSDate() | dateToRfc3339 }}</updated>
    <id>{{ metadata.url }}/articles/{{ article.slug }}/</id>
  </entry>
  {%- endif %}
  {%- endfor %}
</feed>
