---
layout: layout.njk
---

<main>
    <input type="text" name="q" id="search-input" placeholder="title, topic, date..."/>

    <div id="search-results">
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/fuse.js@7.1.0"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.getElementById('search-input');
    const searchResults = document.getElementById('search-results');

    const fuse = new Fuse({{ collections.articles | articleIndex | dump | safe}}, {
      keys: ['title', 'translated_title', 'date', 'year', 'month', 'tags']
    })

    function updateResults() {
      const matchedArticles = fuse.search(searchInput.value);
      // console.log(matchedArticles);

      if (matchedArticles.length === 0) {
        searchResults.innerHTML = "<p>No results</p>";
      } else {
        searchResults.innerHTML = "<ul>" + matchedArticles.map(article => `
          <li>
            <a href="${article.item.url}">
              ${article.item.title}
            </a>
            <br/>
            <i>${ article.item.translated_title }</i>
            <br/>
            <small>${ article.item.date }</small>
          </li>
        `).join('') + "</ul>";
      }
    }

    searchInput.value = (new URLSearchParams(window.location.search)).get("q") || "";
    searchInput.focus();
    updateResults();

    function onInputChange(event) {
        event.preventDefault();

        const url = new URL(window.location.href);
        url.searchParams.set("q", searchInput.value);
        window.history.pushState({}, '', url.toString());

        updateResults();
    }

    searchInput.addEventListener('input', _.debounce(onInputChange, 200));
  })
</script>
