---
layout: layout.njk
pagination:
  data: collections.tags
  size: 1
  alias: tag
permalink: "tags/{{ tag.name | slugify }}/"
---

<main>
    <h2>{{ tag.name }} ({{ tag.translated_name }})</h2>
    <ul>
    {% set matchingArticles = collections.articles | matchingTag(tag) | newestFirst %}
    {% for article in matchingArticles %}
        <li>
            <a href="/articles/{{ article.slug }}/">
                {{ article.title }}
            </a>
            <br/>
            <i>{{ article.translated_title }}</i>
            <br/>
            <small>{{ article.date | date }}</small>
        </li>
    {% endfor %}
    </ul>
</main>
