---
layout: layout.njk
---

<main>
    <ul>
        {% for tag in collections.tags %}
            <li>
                <!--TODO-->
                <a href="">
                    {{ tag.name }} ({{ tag.translated_name }})
                </a>
            </li>
        {% endfor %}
    </ul>
</main>
