---
import slugify from "@sindresorhus/slugify";

import Layout from "../../layout.astro";
import utils from "../../utils";

const tags = await utils.getTags();
---

<Layout>
    <ul>
        {
            tags.map((tag: any) => (
                <li>
                    <a href={`/tags/${slugify(tag.name)}/`}>
                        {tag.name} ({tag.translated_name})
                    </a>
                </li>
            ))
        }
    </ul>
</Layout>
